{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["react", "react-native", "prettier", "jsx-a11y", "flowtype"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true,
      "modules": true
    }
  },
  "rules": {
    "comma-dangle": "off",
    "no-console": 0,
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-boolean-value": 0,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": 0,
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "react-native/no-inline-styles": 0,
    "flowtype/no-types-missing-file-annotation": 0,
    "global-require": 0,
    "react/prop-types": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "@assets",
          "@config",
          "@components",
          "@common",
          "@lib",
          "@actions",
          "@dummyData",
          "@interfaces",
          "@navigation",
          "@types",
          "@reducers",
          "@store"
        ]
      }
    ],
    "import/extensions": ["ignorePackages"]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
